---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertmanager-discord
  labels:
    app.kubernetes.io/name: alertmanager-discord
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: alertmanager-discord
  template:
    metadata:
      labels:
        app.kubernetes.io/name: alertmanager-discord
    spec:
      containers:
        - name: alertmanager-discord
          image: docker.io/masgustavos/alertmanager-discord:0.2.3
          ports:
            - containerPort: 9094
              name: http
          volumeMounts:
            - name: config
              mountPath: /config.yaml
              subPath: config.yaml
              readOnly: true
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              memory: 64Mi
      volumes:
        - name: config
          secret:
            secretName: alertmanager-secret
            items:
              - key: config.yaml
                path: config.yaml
---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager-discord
  labels:
    app.kubernetes.io/name: alertmanager-discord
spec:
  selector:
    app.kubernetes.io/name: alertmanager-discord
  ports:
    - port: 9094
      targetPort: http
      protocol: TCP
      name: http
