---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: home-assistant
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom: &envFrom
              - secretRef:
                  name: home-assistant-secret
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.2.2@sha256:57d87be8a6065c994d75dd6c3e842ccfa669ea537518dbbe2e2fc692d3d00d97
            env:
              TZ: ${TIMEZONE}
              HASS_UNIT_SYSTEM: imperial
              HASS_PURGE_KEEP_DAYS: 30
              HASS_EXTERNAL_URL: https://hass.${SECRET_DOMAIN}
              HASS_TRUSTED_PROXIES: ${CLUSTER_CIDR}
            envFrom: *envFrom
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 500m
                memory: 100M
              limits:
                cpu: 2500m
                memory: 750M

    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: 8123

    route:
      main:
        hostnames: ["hass.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: 8123

    persistence:
      config:
        enabled: true
        existingClaim: home-assistant-config
