---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
  namespace: databases
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: cloudnative-pg
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    crds:
      create: true
    webhook:
      livenessProbe:
        initialDelaySeconds: 15
      readinessProbe:
        initialDelaySeconds: 15