---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: graphite-exporter
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: graphite-exporter
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      graphite-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            args:
              - "--graphite.mapping-config=/tmp/graphite_mapping.conf"
              - "--graphite.listen-address=:2003"
              # - "--log.level=debug"
            image:
              repository: quay.io/prometheus/graphite-exporter
              tag: v0.16.0
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                memory: 128Mi
              requests:
                cpu: 100m
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
        replicas: 2
        strategy: RollingUpdate
    persistence:
      graphite-mapping:
        type: configMap
        name: graphite-exporter-config
        globalMounts:
          - path: /tmp/graphite_mapping.conf
            subPath: graphite_mapping.conf
            readOnly: true
    service:
      app:
        controller: graphite-exporter
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${GRAFANA_EXPORTER_LB_IP}
        ports:
          graphite-tcp:
            protocol: TCP
            port: 2003
            primary: true
          graphite-udp:
            protocol: UDP
            port: 2003
          metrics:
            port: 9108
    serviceMonitor:
      app:
        serviceName: graphite-exporter
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

