---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: percona-xtradb
  namespace: databases
spec:
  interval: 30m
  chart:
    spec:
      chart: pxc-operator
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: percona-charts
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    crds:
      create: true
