---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-redis
  namespace: media
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: immich-redis

  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 8.6.0
            env:
              REDIS_REPLICATION_MODE: master
            resources:
              requests:
                cpu: 5m
                memory: 256M
              limits:
                memory: 512M

    service:
      main:
        controller: main
        ports:
          redis:
            enabled: true
            port: 6379
