---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-server
  namespace: media
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: immich-server
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
      enableServiceLinks: false
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app

    controllers:
      main:
        strategy: RollingUpdate
        annotations:
          configmap.reloader.stakater.com/reload: immich-configmap

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
            envFrom: &envFrom
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap

        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.4.1
            envFrom: *envFrom
            resources:
              requests:
                cpu: 250m
                memory: 256Mi
              limits:
                memory: 4Gi

    service:
      immich-server:
        controller: main
        ports:
          http:
            port: 2283
            protocol: http
            targetPort: 2283
            targetSelector: main

    route:
      immich-server:
        hostnames: ["immich.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: kube-system
            port: 443
        rules:
          - backendRefs:
              - identifier: immich-server
                port: 3001

    persistence:
      config:
        enabled: true
        type: secret
        name: immich-config-secret
        globalMounts:
          - path: /config
      library:
        enabled: true
        existingClaim: immich-nfs
        globalMounts:
          - path: /usr/src/app/upload
