---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nextcloud
  namespace: flux-system
spec:
  dependsOn:
    - name: pvc-media
    - name: cloudnative-pg-cluster
      namespace: databases
    - name: external-secrets-stores
      namespace: kube-system
    - name: volsync
      namespace: volsync-system
    - name: rook-ceph-cluster
      namespace: storage
  components:
    - ../../../../components/volsync
  path: ./kubernetes/apps/media/nextcloud/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: nextcloud
      VOLSYNC_CLAIM: nextcloud-data
      VOLSYNC_SNAPSHOTCLASS: csi-ceph-block
      VOLSYNC_CAPACITY: 250Gi
      VOLSYNC_STORAGECLASS: ceph-hdd-3-replica
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
      - name: cluster-settings
        kind: ConfigMap
