---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nut-server
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: nut-server-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        nut.conf: |
          MODE=netserver
        ups.conf: |
          # [cyberpower]
          #   driver = usbhid-ups
          #   port = auto
          #   desc = "CyberPower UPS"
          [apc1]
            driver = snmp-ups
            port = 10.0.1.8
            community = public
            snmp_version = v1
            pollfreq = 15
            desc = "APC UPS - 10.0.1.8"
          [apc2]
            driver = snmp-ups
            port = 10.0.3.214
            community = public
            snmp_version = v1
            pollfreq = 15
            desc = "APC UPS - 10.0.3.214"
        upsd.conf: |
          LISTEN 0.0.0.0 3493
        upsd.users: |
          [admin]
            password = {{ .NUT_ADMIN_PASSWORD }}
            actions = set
            actions = fsd
            instcmds = all
            upsmon master
          [monitor]
            password = {{ .NUT_MONITOR_PASSWORD }}
            upsmon slave
        upsmon.conf: |
          # MONITOR cyberpower@localhost 1 admin {{ .NUT_ADMIN_PASSWORD }} master
          MONITOR apc1@localhost 1 admin {{ .NUT_ADMIN_PASSWORD }} master
          MONITOR apc2@localhost 1 admin {{ .NUT_ADMIN_PASSWORD }} master
          SHUTDOWNCMD "/sbin/shutdown -h +0"
          POLLFREQ 15
          POLLFREQALERT 5
          HOSTSYNC 15
          DEADTIME 15
          RBWARNTIME 43200
          NOCOMMWARNTIME 600
          FINALDELAY 5
  dataFrom:
    - extract:
        key: nut-server
