---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-operator
  namespace: storage
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: rook-ceph
      version: v1.19.0
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
  maxHistory: 2
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    csi:
      enableCephfsDriver: true
      enableRbdDriver: true
      # enableCephfsSnapshotter: true
      enableCsiOperator: true
      enableGrpcMetrics: false
      pluginTolerations:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
    crds:
      enabled: true
    pspEnable: false
    monitoring:
      enabled: true
    resources:
      requests:
        cpu: 10m
        memory: 128M
      limits:
        memory: 512M
