---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: factorio
  namespace: gaming
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: factorio-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        username: "{{ .FACTORIO_USER }}"
        token: "{{ .FACTORIO_TOKEN }}"
        game_password: "{{ .FACTORIO_PW }}"
  dataFrom:
    - extract:
        key: factorio
