---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: overseerr
  namespace: media
spec:
  dependsOn:
    - name: pvc-media
    - name: external-secrets-stores
      namespace: kube-system
    - name: volsync
      namespace: volsync-system
  components:
    - ../../../../components/volsync
  path: ./kubernetes/apps/media/overseerr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
      - name: cluster-settings
        kind: ConfigMap
    substitute:
      APP: overseerr
      VOLSYNC_CLAIM: overseerr-config
      VOLSYNC_SNAPSHOTCLASS: csi-ceph-block
      VOLSYNC_CAPACITY: 2Gi
