---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
  namespace: observability
spec:
  interval: 1h
  chart:
    spec:
      chart: goldilocks
      version: 10.2.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds-charts
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      rbac:
        create: true
    dashboard:
      enabled: true
      replicaCount: 1
      httpRoute:
        enabled: true
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        hostnames:
          - goldilocks.${SECRET_DOMAIN}
