---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr-exporter
  namespace: observability
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/exportarr
              tag: v2.0.1
            args:
              - radarr
              - --enable-additional-metrics
              - --enable-unknown-queue-items
            env:
              PORT: 9707
              URL: http://radarr.media.svc.cluster.local:7878
            envFrom:
              - secretRef:
                  name: radarr-exporter-secret
            resources:
              requests:
                cpu: 5m
                memory: 36M
              limits:
                memory: 128M
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
    service:
      main:
        ports:
          http:
            port: 9707
    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1h
            scrapeTimeout: 30s
