---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: minion-valheim
  namespace: gaming
spec:
  path: ./kubernetes/apps/gaming/valheim/minion
  prune: true
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: rook-ceph-cluster
      namespace: storage
  components:
    - ../../../../components/volsync
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
      - name: cluster-settings
        kind: ConfigMap
    substitute:
      APP: minion-valheim
      VOLSYNC_CLAIM: minion-valheim-data
      VOLSYNC_SNAPSHOTCLASS: csi-ceph-block
      VOLSYNC_CAPACITY: 100Gi
