---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: fierypyropixy
  namespace: pixy
spec:
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: databases
    - name: external-secrets-stores
      namespace: kube-system
    - name: volsync
      namespace: volsync-system
  components:
    - ../../../../components/volsync
  path: ./kubernetes/apps/pixy/fierypyropixy/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
      - name: cluster-settings
        kind: ConfigMap
    substitute:
      APP: fierypyropixy
      VOLSYNC_CLAIM: fierypyropixy-data
      VOLSYNC_SNAPSHOTCLASS: csi-ceph-block
      VOLSYNC_CAPACITY: 1Gi
