---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name minion-valheim
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: minion-valheim
  install:
    replace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
      strategy: rollback
    cleanupOnFail: true
  uninstall:
    keepHistory: false

  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            nameOverride: *name
            image:
              repository: docker.io/mbround18/valheim
              tag: 3.5.0@sha256:68cf418f39b0174e421ca0f063be38a11f1a4aadb48f3b15e9cc7c7be39111a6
              pullPolicy: IfNotPresent
            env:
              PORT: "2456"
              PUBLIC: "1"
              NAME: "Minion Valheim"
              WORLD: "Minion"
              PASSWORD: "${SECRET_VALHEIM_MINION_PW}"
              TZ: ${TIMEZONE}
            resources:
              requests:
                memory: 4Gi
                cpu: 1000m
              limits:
                memory: 10Gi

    service:
      main:
        controller: main
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        ports:
          steam1:
            port: 2456
            protocol: UDP
          steam2:
            port: 2457
            protocol: UDP

    persistence:
      data:
        existingClaim: minion-valheim-data
        globalMounts:
          - path: /home/steam/.config/unity3d/IronGate/Valheim/
          - path: /home/steam/valheim/
          - path: /home/steam/backups/
