---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name minion-valheim
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: minion-valheim
  install:
    replace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
      strategy: rollback
    cleanupOnFail: true
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000

    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            nameOverride: *name
            image:
              repository: lloesche/valheim-server
              tag: latest@sha256:8f1c5fc831c900312b4a47c1fe57bfc03b574c1433ea502f5d8f0ad301a22a83
              pullPolicy: IfNotPresent
            env:
              BACKUPS: "false"
              CONFIG_DIRECTORY_PERMISSIONS: "755"
              WORLDS_DIRECTORY_PERMISSIONS: "755"
              WORLDS_FILE_PERMISSIONS: "644"
              SERVER_PORT: "2456"
              SERVER_PUBLIC: "true"
              STATUS_HTTP: "true"
              SUPERVISOR_HTTP: "true"
              SERVER_NAME: "Minion Valheim"
              WORLD_NAME: "Minion"
              SERVER_PASS: "${SECRET_VALHEIM_MINION_PW}"
              ADMINLIST_IDS: ""
              PERMITTEDLIST_IDS: ""
              PUID: "1000"
              PGID: "1000"
              TZ: ${TIMEZONE}
            resources:
              requests:
                memory: 4Gi
                cpu: 1000m
              limits:
                memory: 10Gi

    service:
      main:
        controller: main
        type: LoadBalancer
        ports:
          steam1:
            port: 2456
            protocol: UDP
          steam2:
            port: 2457
            protocol: UDP

    persistence:
      config:
        existingClaim: *name
